<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>66GoodLook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD35D6C51F70BEB4002B65AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD35D6D31F70BEBE002B65AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADDDB9941E7780F8003526DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADDDB9AD1E7780F8003526DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADDDB9B81E7780F8003526DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
